{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block content %}

    <div class="row d-flex justify-content-center mx-1">
        <form method="post" class="col-lg-8 form shadow-lg p-3 mb-5 bg-body-tertiary rounded" enctype="multipart/form-data">
            <legend class="text-center">{% translate "Sign up" %}</legend>
            {% csrf_token %}

            <!-- fields = (username, email, first_name, last_name, image, password, password_confirm) -->
            {% bootstrap_form form %}

            <button type="submit" class="btn btn-success">{% translate 'Sign up' %}</button>
            <button type="reset" class="btn btn-secondary">{% translate 'Reset' %}</button>
            <a href="{% url 'posts' %}" class="btn btn-primary">{% translate 'Cancel' %}</a>
        </form>
    </div>

{% endblock content %}