{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

    <div class="row d-flex justify-content-center mx-1">
        <form method="post" enctype="multipart/form-data" class="col-lg-8 form shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <legend class="text-center">{% translate "What would you like to discuss" %} ?</legend>
            {% csrf_token %}

            <!-- post form -->
            {% bootstrap_form form %}

            <button type="submit" class="btn btn-success">{% translate 'Publish ' %}</button>
            <button type="reset" class="btn btn-secondary">{% translate 'Reset' %}</button>
            <a href="{% url 'posts' %}" class="btn btn-primary">{% translate 'Cancel' %}</a>
        </form>
    </div>

{% endblock content %}